fastapi==0.103.1
uvicorn==0.23.2
pydantic==2.3.0
pydantic[email]==2.3.0
pymongo==4.5.0
python-dotenv==1.0.0
passlib==1.7.4
bcrypt==4.0.1
python-jose==3.3.0
python-multipart==0.0.6
bson==0.5.10
requests==2.31.0 